raspberry-pi/node-red-export.json
[
    {
        "id": "b0f0a835.899508",
        "type": "tab",
        "label": "New Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a733652.aa1c68",
        "type": "inject",
        "z": "b0f0a835.899508",
        "name": "",
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PingInterval",
        "payloadType": "str",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "b01dee12.52ae"
            ]
        ]
    },
    {
        "id": "39144b43.049f34",
        "type": "mqtt out",
        "z": "b0f0a835.899508",
        "name": "",
        "topic": "topic1",
        "qos": "",
        "retain": "",
        "broker": "d279e8c4.9db6a8",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "5de6b85d.a61328",
        "type": "debug",
        "z": "b0f0a835.899508",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "e4fa6f00.2c627",
        "type": "mqtt in",
        "z": "b0f0a835.899508",
        "name": "",
        "topic": "topic2",
        "qos": "2",
        "datatype": "auto",
        "broker": "d279e8c4.9db6a8",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "5de6b85d.a61328"
            ]
        ]
    },
    {
        "id": "b01dee12.52ae",
        "type": "function",
        "z": "b0f0a835.899508",
        "name": "randomGenerator",
        "func": "msg.payload = \n{\n    'newValue1': Math.round( Math.random() *1000),\n    'newValue2': Math.round( Math.random() *10),\n    'newValue3': Math.round( Math.random() *20)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "39144b43.049f34"
            ]
        ]
    },
    {
        "id": "d279e8c4.9db6a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "broker",
        "broker": "mqtt-mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]